body {
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: 5% 20% 45% 5%;
    grid-template-rows: 5% 45% 45% 5%;
    gap: 0px 0px;
    grid-template-areas:
        ". WELCOME-MESSAGE WELCOME-MESSAGE ."
        ". PICTURE FORM-SPACE ."
        ". . FORM-SPACE ."
        ". . . .";
}

.WELCOME-MESSAGE {
    grid-area: WELCOME-MESSAGE;
}

.PICTURE {
    grid-area: PICTURE;
}

.FORM-SPACE {
    grid-area: FORM-SPACE;

    & label {
        color: rgb(255, 255, 255);
        display: block;
        width: 100%;
    }

    & .form-control {
        color: rgb(255, 255, 255);
        outline: none;
        background: none;
        border: none;
        border-bottom: 2px solid white;
        width: 100%;
        text-align: center;
    }

    & #mamineure {
        color: rgb(255, 255, 255);
        outline: none;
        background: none;
        width: 100%;
    }

    & select {
        color: rgb(255, 255, 255);
        outline: none;
        background: none;
        border: none;
        border-bottom: 2px solid white;
        width: 100%;
    }

    & #complete {
        background: rgb(0,86,255);
        background: linear-gradient(90deg, rgba(0,86,255,1) 0%, rgba(106,64,170,1) 50%, rgba(0,255,81,1) 100%);
        border: none;
        border-radius: 0.4em;
        color: whitesmoke;
        padding: 1vh 2vw;
    }
}
